<div class="content" ng-controller="createRolesCtrl">
    <div class="content-header clearfix">
        <h3 class="pull-left">
            Create new roles
        </h3>
        <div class="pull-right">
            <button type="button" class="btn bg-blue" ng-click="onBack()">
                <i class="fa fa-floppy-o"></i>
                Back
            </button>
            <button type="button" class="btn bg-blue" ng-click="onSave()">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">System name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="systemName" id="SystemName" type="text" placeholder="Type system name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Display name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="displayName" id="DisplayName" type="text" placeholder="Type display name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

