<div class="content">
    <div class="content-header clearfix">
        <h3 class="pull-left">
            Create new user
        </h3>
        <div class="pull-right">
            <button type="button" class="btn bg-blue" ng-click="onBack()">
                <i class="fa fa-floppy-o"></i>
                Back
            </button>
            <button type="button" class="btn bg-blue" ng-click="onSave()" ng-show="isAdmin">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">First name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="data.FirstName" type="text" placeholder="Type first name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Last name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="data.LastName" type="text" placeholder="Type last name">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Display name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="data.DisplayName" type="text" placeholder="Type display name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">User name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="data.UserName" type="text" placeholder="Type user name">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Password:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="data.Password" type="password" placeholder="Type password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Role:</label>
                                </div>
                                <div class="col-md-9">
                                    <select kendo-combo-box
                                            k-placeholder="'Select role...'"
                                            k-data-text-field="'Name'"
                                            k-data-value-field="'Id'"
                                            k-auto-bind="false"
                                            ng-change="onSearch()"
                                            ng-model="data.RoleId"
                                            k-data-source="rolesDataSource"
                                            style="width: 100%" ng-keydown="onSearch()"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

