<div class="content-header clearfix">
    <h3 class="pull-left">
        Teachers List
    </h3>
    <div class="pull-right" ng-show="isAdminOrManager">
        <a href="/teachers/new" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Create
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">First name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="searchData.FirstName" id="FirstName" type="text" placeholder="Type first name" ng-keydown="onSearch()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Last name:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="searchData.LastName" id="LastName" type="text" placeholder="Type last name" ng-keydown="onSearch()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Department:</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="searchData.DepartmentId" id="DepartmentId" style="width: 100%;" ng-keydown="onSearch()">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label">Is manager:</label>
                                </div>
                                <div class="col-md-9">
                                    <input id="isManager" style="width: 100%;" ng-keydown="onSearch()"/>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-custom">
                                <div class="col-md-3">
                                    <label class="control-label"></label>
                                </div>
                                <div class="col-md-9">
                                    <button type="button" class="btn btn-primary" ng-click="onSearch()">
                                        <i class="fa fa-search"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="grid"></div>
                </div>
            </div>

        </div>
    </div>
</div>
